__pycache__
*.pyc
.env
.rag_cache
.rag_cache-shm
.rag_cache-wal
myenv/
myvenv/
venv/
.DS_Store
data/agent_sessions.sqlite3
data/agent_sessions.sqlite3-shm
data/agent_sessions.sqlite3-wal

# GCP service account credentials
capstone-489617-d5624dae18d3.json

# Ticket Data
api/all_exceptions.json
api/individual_exceptions
api/exceptions_attachment_*.json
api/exceptions.json
api/all_tickets.json
api/ticket_cache.json
attachments/
api/weight.json
attachment.json
api/filtered_form_output.json
api/test.py
